<!DOCTYPE html>
<html>
    {% include "head.html" %} 
    <body>
        {% include "menu.html" %}    

        <p class="menu-label">Notes</p>

        <ul class="menu-list">
            {% for note in notes %}
            <div style="position: relative; height: 50px;">
                <li>
                    <a href="{% url 'notes:note' %}?id={{ note.id }}">{{ note.title|safe }}</a>
                    <!--<a href="{% url 'notes:note' %}?id={{ note.id }}">{{ note.title }}</a> -->
                </li>
                <div class="control" style="position: absolute; right: 0; top: 0;">
                    <a href="{% url 'notes:remove' note.id %}" class="button is-danger">Delete</a>
                </div>
            </div>
            {% endfor %}
        </ul>
    </body>
</html>